@font-face {
    font-family: 'Island Moments';
    src: url('IslandMoments-Regular.eot');
    src: local('Island Moments Regular'), local('IslandMoments-Regular'),
        url('IslandMoments-Regular.eot?#iefix') format('embedded-opentype'),
        url('IslandMoments-Regular.woff2') format('woff2'),
        url('IslandMoments-Regular.woff') format('woff'),
        url('IslandMoments-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

