.header {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark {
    color: white;
}

.header__nav {
    display: flex;
    align-items: center;
}
.header__nav > span {
    margin-right: 2rem;
}
.header__nav > span:last-child {
    margin-right: 0;
}

.fire {
    position: fixed;
    top: 350px;
    right: 300px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    box-shadow: 4px 4px 1000px 90px #c0c062;
    z-index: 0;
    opacity: .1;
    animation: testAnim 2s ease;
}

.header__image {
    /*pointer-events: none;*/
    right: 150px;
    top: 0;
    height: 450px;
    position: fixed;
}

@media screen and (max-width: 1280px){
    .header__image {
        right: 100px;
    }
}
@media screen and (max-width: 1024px) {
    .header__image {
        right: 50px;
    }
}

@media screen and (max-width: 780px){
    .header__image {
        right: 0;
    }
}
@media screen and (max-width: 580px){
    .header__image {
        right: -70px;
    }
}

@keyframes testAnim {
    0% {
        box-shadow: 4px 4px 1000px 90px #c0c062
    }
    50% {
        box-shadow: 4px 4px 1000px 120px #c0c062
    }
    100% {
        box-shadow: 4px 4px 1000px 90px #c0c062
    }
}