.main {
    padding-left: 10%;
    font-size: 66px;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.title, .subtitle, .subtitle > span {
    font-family: 'Impact', sans-serif;
}
.subtitle.theme_dark > span {
    background: #d3d6da;
}
.subtitle.theme_light > span {
    background: #bdcaff;
}

@media screen and (max-width: 1280px){
    .main {
        font-size: 80px;
    }
}
@media screen and (max-width: 1120px){
    .main {
        padding-left: 50px;
        font-size: 60px;
    }
}
@media screen and (max-width: 780px){
    .main {
        padding-left: 0;
        font-size: 80px;
    }
}
@media screen and (max-width: 580px){
    .main {
        font-size: 40px;
    }
}
